<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar">
    <span (click)="goRoute('')">Val Magazine</span>
    <span class="example-spacer"></span>

    <div class="toolbar-links">
      <button mat-button (click)="goRoute(produtos)" data-id="produtos" #produtos>Produtos</button>
      <button mat-button (click)="goRoute(pedidos)" data-id="pedidos" #pedidos>Pedidos</button>
      <button mat-button (click)="goRoute(visitas)" data-id="visitas" #visitas>Visitas</button>
      <button mat-raised-button color="warn" (click)="goRoute(add)" data-id="add" #add>Adicionar Produto</button>
    </div>


    <button mat-button [matMenuTriggerFor]="menu" class="example-icon menu-btn" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goRoute(produtos)">Produtos</button>
    <button mat-menu-item (click)="goRoute(pedidos)">Pedidos</button>
    <button mat-menu-item (click)="goRoute(visitas)">Visitas</button>
    <button mat-menu-item (click)="goRoute(add)">Adicionar Produto</button>
  </mat-menu>
</mat-toolbar>
