.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  background-color: #06125b !important;
}

.toolbar-links {
  width: 50%;
  display: none;
  justify-content: space-evenly;


}

mat-icon {
  transform: scale(2);
}

.menu-btn {
  display: block;
  position: absolute;

  right: 10px;
  top: 20px;

}


@media(min-width: 768px) {
  .toolbar-links {
    display: flex;
  }

  .menu-btn {
    display: none;
  }
}
