/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f6f6f6 !important;}

.container {
  width: 80% !important;
  margin: 0 auto;
}


.card-prod {
  background-color: #fff;
  padding: 1rem;

  border-radius: .4rem;
  transition: all .3s ease;

  border: 1px solid rgba(0,0,0,.12);
}

.card-prod:hover {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.12);
}

.mat-mdc-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: scale(0.7);

  transform: translate(-50%, -50%);
}

